<div class='col-xs-10 col-xs-offset-1 about' >
	<h1>About Splurty</h1>
	
	<p>
	Splurty was built by  <a href='https://www.linkedin.com/in/mikestone24'>Mike Stone</a>. A web developer who has 8 years of programming work experience,
	been doing HTML and javascript since 10 years old and has had extensive involvement in creating projects from the ground up as a full stack developer. I’m not as grumpy as grumpy cat, pictured here. 
	</p>

	<div class="col-xs-12 col-sm-4 center-block" style="padding-top:30px;">
	
   <%= image_tag 'grumpcat.jpg',:class=>'img-responsive center-block',:width=>250  %>
  </div>

  <div class="col-xs-12 col-sm-7 ">
   		 <h2 class="text-center">Mike Stone</h2>
    <br />
    <p>
     
      A few projects I've worked on:
      <ul>
       <li>goodmoney.co, a banking web app to view, tag and organize bank transactions. Responsible for all technical aspects of the app. It used Intuit aggcat api to get bank transactions. Another of many projects i've worked on is trext.  </li>
       <li>
       	Trext, a service that allows you to design automated text message conversations, similar to the automated menus when you call a bank. My job was to create a way to allow someone to chat to a real person via text messages. 
       	<li> At 16 I created a flash game with over 40,000 views and it got picked up by a major flash game website.
       	</li>
       	<li> I've also run my own website that linked graphic artists and game developers, so each would get proper credits for their work. Also served as a community and artist showcase.
       	</li>
      </ul>
    </p>
  </div>

	
	

</div>