<h2>
	<span>SPLUTY / No. <%= @quote.id %> </span>
	 You know you need to go outside when...

<h1><%= @quote.saying %></h1>
<h2 class='pull-right author'>- <%= @quote.author %></h2>

<br class='clear'/>
<br/>
<br/>
<br/>