
.clear {
	clear:both;
}
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: green;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(230deg);
    -ms-transform:rotate(230deg); /* IE 9 */
    -webkit-transform:rotate(230deg); /* Opera, Chrome, and Safari */
}
h1 {
	font-family: 'cantarellregular', sans-serif;
	font-weight:bold;
	 font-size:48px;
}
.next-quote {
	color:#f84342;
	font-family: 'cantarelloblique', sans-serif;
	font-size:20px;

}
h2 {
	font-family: 'cantarelloblique', sans-serif;
}
.slogan
{
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	padding-top: 26px;
}
.footer-blurb 
{
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	 text-align:right;
	 font-size:10px;
}
.links {
	padding-top:26px;
}
.logo:hover {
	text-decoration:none;
}
.links a {
	font-family: 'cantarellregular';
	font-weight: bold;
	color:black;
	font-size:25px;
	border-bottom: 1px solid #dfdfdf;
}
hr {
	clear:both;
}
header {
	border-top:9px solid #222222;
}